.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px; 


  font-size: 14px;
}

@media (max-width: 768px) {
  .App {
    max-width: 90%;
    font-size: 12px; 
  }
}
