/* Definir variables de colores */
:root {
    --french-gray: #CBCBD8ff;
    --cadet-gray: #9C9DA2ff;
    --french-gray-2: #BCBFCBff;
    --ghost-white: #F0F1F6ff;
    --pear: #CAED4Dff;
}

/* Contenedor principal */
.criptoContainer {
    position: fixed;
    bottom: 10px;
    right: 60px;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    white-space: nowrap;
    scroll-behavior: smooth;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

/* Contenedor del título */
.h2-container {
    display: flex;
    justify-content: flex-start;
    font-variant: inherit;
    font-style: normal;
    font-weight: lighter;
}

/* Lista de criptomonedas */
.crypto-list::-webkit-scrollbar {
    display: none;
}

.crypto-list {
    font-weight: lighter;
    margin-top: 30px;
    border-top-style: solid;
    border-color: rgba(191, 193, 199, 0.403);
    border-width: -10px;
    display: flex;
    flex-direction: column;
    overflow-y: unset;
    overflow-x: hidden;
    height: 70%;
    width: 415px;
    font-weight: lighter;
}


.crypto-card {
    width: 415px;
    height: 80px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    white-space: normal;
}

.sub {
    margin-bottom: 0px;
}

.line {
    color: var(--french-gray-2);
    margin-bottom: 0px;
}

/* Contenedor de búsqueda */
.search-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.search-input {
    color: var(--cadet-gray);
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    width: 200px; /* Tamaño fijo en píxeles */
    background-color: rgba(188, 191, 203, 0.391);
    padding-left: 30px;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    position: absolute;
    top: 100%;
    left: 10px;
    transform: translateY(50%);
    color: rgb(67, 67, 67);
    cursor: pointer;
}