/* --french-gray: #CBCBD8ff;
--cadet-gray: #9C9DA2ff;
--french-gray-2: #BCBFCBff;
--ghost-white: #F0F1F6ff;
--pear: #CAED4Dff; */

.criptoContainer {
    position: fixed;
    bottom: 10px;
    right: 60px;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    white-space: nowrap;
    scroll-behavior: smooth;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    display: flex;
    justify-content: flex-start;
    font-weight: lighter;
    font-size: xx-large;
    margin-bottom: 10%;
}

.crypto-list::-webkit-scrollbar {
    display:none;
}

.crypto-list {
    font-weight: lighter;
    margin-top: 30px;
    border-top-style: solid;
    border-color: rgba(191, 193, 199, 0.403);
    border-width: -10px;
    display: flex;
    flex-direction: column;
    overflow-y: unset;
    overflow-x: hidden;
    height: 70%;
    max-height: 550px;
    width: 25vw;
    max-width: 100%;
    font-weight: lighter;
}

.crypto-card {
    margin-left: 0.1vw;
    width: 24vw;
    height: 9vh;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    transition: background-color 0.1s ,  opacity 0.1s,  transform 0.1s;
}

.crypto-card:hover {
    background-color: rgba(201, 212, 227, 0.282);
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.471);
    
}
.crypto-card:active {
    background-color: rgb(235, 244, 235);
    opacity: 0.9;
    cursor: pointer;
    transform: scale(0.94);
    transition: background-color 0.1s, opacity 0.1s, transform 0.3s, box-shadow 0.1s;
}

.alert{
    font-weight: bolder;
}

.sub {
    margin-bottom: 0px;
    font-weight:bold;
}
.line {
    color: rgb(194, 197, 210);
    margin-bottom: 0px;
}

.search-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.search-input {
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    width: 23vw;
    height: 3.5vh;
    max-width: 100%;
    background-color: rgba(157, 183, 221, 0.259);
    padding-left: 30px;
    background-image: url('../image/search.png');
    background-position: 23vw center;
    background-repeat: no-repeat;
    background-size: 20px;
    opacity: 0.7;    
}



.search-input::placeholder {
    color:rgb(71, 71, 73);
    font-weight:350;
}


.search-input:focus {
    outline: none;
}




@media (max-width: 768px) {
    .crypto-list {
        height: auto;
        max-height: none;
    }

    .crypto-card {
        height: 60px;
    }

    .search-input {
        width: 90%;
        max-width: none;
    }
}
