.graph-container {
    display: flex;
    position: relative;
    bottom: 10px;
    margin-left: 30px;
    margin-top: -10px;
    width: 1030px;
    height: 795px;
    background-color: black;
    border-radius: 4%;
    /* overflow: hidden; */
}

.grap-text {
    display: flex;
    position: absolute;
    top: 80px;
    left: 80px;
    color: rgb(255, 255, 255);
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    display: flex;
    position: absolute;
    top: 150px;
    left: 80px;
    margin-top: 20px;
    color: #9C9DA2ff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}



.graph-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: -130%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4%;
    /* overflow: hidden; */
}

.graph-container::before {
    display:flex;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: white;
}



.grap {
    display:flex;
    position:relative;
    margin-top: 290px;
    margin-left: -150px;

    transform: scale(0.6);

}

.bar-chart {
    display:flex;
    background-color: rgb(141, 138, 138);
    
}

.bar-chart:hover .sale {
    display:flex;
    font-size: 800px;
    color: rgb(60, 255, 0);
}


@media (max-width: 768px) {
    .graph-container {
        width: 100%;
        height: auto;
    }

    .grap-text {
        font-size: 5vw;
    }

    .text {
        font-size: 2vw;
    }
}