
body {
  margin: 0; 
  background-color: black; 
  background-image: url('../../../public/Image/logos/back_2.png');

}
.StartScreen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100vh; 
  background-size:auto;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
}



.button-logout img {
  width: 40px;
  display: flex;
  margin-bottom: 65px;
  margin-left: 319px;
  margin-top: -137px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .StartScreen-container {
    padding: 10px;
  }

  .button-logout img {
    width: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .profile-content {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .user-image {
    width: 50px;
  }


}

@media (max-width: 480px) {
  .StartScreen-container {
    padding: 10px;
  }

  .button-logout img {
    width: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: -50px;
  }

  .profile-content {
    margin-left: 10px;
  }

  .user-image {
    width: 50px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .button-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
  }


}

.button-logout:hover{
  opacity: 0.8;
}

.profile-content {
  display: flex;
  align-items: center;
  margin-left: -10%; 
  margin-bottom: 15%;
  cursor: pointer;
}
.profile-content :hover{
  opacity: 0.8;
}

.user-image {
  width: 88px;
  margin-bottom: 20px;
  align-items: center;
  margin-top: -1px;

}

.logout{
  width: 149px;
  margin-bottom: 12px
}

.profile-text {
  color: white;
  margin-left: 10px; 
  font-weight: bolder;
}





.info-box {
  background-color: #d5d5d51f;
  padding: 20px;
  border: 1px solid #ccc0;
  border-radius: 5px;
  margin-bottom: 152px;
  width: 452px;
}


.info-box-d1, .info-box-d2 {
  display: flex;
  align-items: center;
  margin-bottom: -33px;
}


.info-box-d1 h3, .info-box-d2 h3 {
  margin-right: 10px;
}


.info-box-d1 p, .info-box-d2 p {
  margin: 0;
}

.info-box p{
  color: #f5f5f5;
  font-weight: bolder;
  font-size: 21px;
}
.info-box h1{
  color:  white;
  font-weight: bolder;
  font-size: 33px;
  margin-bottom: -7px;
}
.info-box h3{
  color:  wheat;
  font-weight: bolder;
  font-size: 28px;
}
.button-icon {
  width: 100%;
  height: auto;
  font-size: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ffffff;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: #333;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  color: white;
  background-color: #d5d5d55c;
  box-shadow: 5px 7px 5px 0px rgb(241 18 18 / 21%);
}
.header {
width: 200px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.button-icon:hover {
  background-color: #686464;
}
.button-link {
  text-decoration: none;
  color: inherit;
  height: 98px;
  width: 155px;
  font-weight: bolder;
}

.button-icon-image-admin {
  width: 105px; 
  margin-bottom: 10px; 
}

.bottom-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}



.bottom-buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 171px;
  font-size: 20px;
}


.button-row {
  margin-bottom: 10px; 
}

.logo-bull {
  width: 217px;
  margin-top: 99px;
}

.instagram-logo-container {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.instagram-logo-customers{
  width: 45px;
  cursor: pointer;
  margin-left: 1.5em;
}

.instagram-logo-customers:hover {
  opacity: 0.8;
}

.whatsapp-logo-customers {
  width: 64px;
  cursor: pointer;
}
.whatsapp-logo-customers:hover {
  opacity: 0.8;
}
