body {
  font-family: 'Arial', sans-serif; 
  margin: 0;
  padding: 0;
}


.filter-controls-diary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f28a;
  width: 588px;
  font-weight: bolder;
  height: 40px;
}

.filter {
  width: 150px;
}

.butom-day-diary  {
  border-radius: 2px;
  padding: 5px 10px;
  background-color: #000000;
  border-color: white;
  color: white;
  border: none;
  cursor: pointer;
  height: 36px;
  width: 61px;
  font-size: 19px;
}

.table-diary table th, table td {
  border: 4px solid #000;
}
.reservation-cell.cancelled {
  background-color: #ff0000; 
  color: #000000; 
}


.trash-icon {
  cursor: pointer;
  color: #ff0000; 
}


.filter-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.butom-day {
  background-color: #d8bfd8; 
  color: #000000; 
}


/* .button-l {
  width: 25px;
  height: 25px;
}

.button-li {
  width: 25px;
  height: 25px;
}  */



.button-l {
  width: 41px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.button-l:hover {
  background-color: #33333342;
}

.button-li {
  width: 52px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.button-li:hover {
  background-color: #33333342;
}

.button-trash {
  width: 23px;
  margin-right: 10px;
  cursor: pointer;
}

.button-trash:hover {
  background: #f7f7f740;
}

.table-diary{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-weight: bolder;
  background-color: #f5f5f578;
}

h2 {
  text-align: center;
}

.table-diary th {
  background-color: #0c0c0c;
  border: 3px solid #000000;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: left;
}

.table-diary td {
  text-align: left;
  border-bottom: 5px solid #000000f0;
  background-color: rgb(255 255 255);
  font-weight: bolder;
  font-size: 9px;
  text-align: left;
  width: 260px;
}
.table-diary th {
  background-color: #0c0c0c;
  border-bottom: 5px solid #000000f0;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}
 table td{
  border: 4px solid #000;
}
.table-diary .first-column {
  font-size: 16px; 
}
.header-cell {
  text-align: center; 
}

td.hour-column, td.header-cell, td.first-column{
  border-right: 4px solid #060606;
}

.current-day {
  background-color: #f2f2f2;
  color: black; 
}

.reservation-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.user-name .trash-icon {
  margin-right: 5px; 
}

.reservation-cell .user-name {
  margin-right: 2px;
}

.reservation-cell .trainingType {
  display: flex;
  align-items: center;
  background-color: yellow;
  color: black;
  font-weight: 700;
  width: 65px;
}
.reservation-cell .Attendance {
  display: flex;
  align-items: center;
  background-color: rgb(158 181 208);
  color: black;
  font-weight: 700;
  width: 35px;
}

.reservation-cell .react-dropdown-select {
  width: auto;
  
}
.reservation-cell  .react-dropdown-select-dropdown {
  top: 50% !important; 
}
.reservation-cell .trainingType .react-dropdown-select-item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.reservation-cell .Attendance .react-dropdown-select:focus {
  border-color: #a2a9aeaf;
  outline: none;
}
.reservation-cell .trainingType .react-dropdown-select:focus {
  border-color: #3498dbaf;
  outline: none;
}
.table-diary table th, table td {
  border: 1px solid #fff;
}


.reservation-cell {
  display: flex;
  justify-content: space-between;
}

.subcolumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subcolumn.name {
  flex-basis: 100%;
  justify-content: left;
  font-size: 11px;
}

.subcolumn.training-type {
  flex-basis: 30%; 
}

.subcolumn.attendance {
  flex-basis: 20%; 
}

.subcolumn.actions {
  flex-basis: 10%; 
}


.table-diary td:not(:last-child) {
  margin-right: 2px;
}

.table-diary tr:nth-child(odd) {
  background-color: #f2f2f250;
}

.table-diary tr:nth-child(even) {
  background-color: #e6e6e676;
}

.profile-buttons {
  text-align: center;
  margin-top: 20px;
}

.profile-button-image {
  width: 48px;
  height: 29px;
}

.button-link {
  text-decoration: none;
  color: #333;
}
.line-separator {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}

.reservation-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 78%);   
  z-index: 900;
  display: flex;
  align-items: left;
  justify-content: center;
}

.reservation-form input,
.reservation-form select,
.reservation-form buttom-modal {
  margin-bottom: 2px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.reservation-form buttom-modal {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.reservation-form buttom-modal:hover {
  background-color: #7d2626;
}
.bordered-cell {
  border: 1px solid #000000;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #88888800;
  border: none;
  background: none;
}

.close-button:hover {
  color: #555;
}
.DatePicker{
  padding: none;
}
.DatePicker button{
  background-color: none;
}


th.hour-column {
  background-color: rgb(47, 85, 201); 
  color: #fff; 
  text-align: center;
}

th.red-background {
  background-color: #e61010;
  color:black;
  font-weight: bolder;
}

th.black-background {
  background-color: black;
}

th.gray-background {
  background-color:#c1c1c1;
  color:black;
  font-weight: bolder;
}

td.first-column{
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  text-align: center; 
  font-weight: bolder;
  width: 10px;

}

.reservation-form-checkbox {
  margin-top: 1px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 212px;

}

.reservation-form-checkbox label {
  font-weight: bolder;
  font-size: 13px;
  color: #000000;
  width: 250px;
}


.reservation-form-end-date {
  margin-top: 15px;
  font-size: 16px;
  color: #000000; 
}


.reservation-form-checkbox + .buttom-modal {
  margin-top: 10px;
}


