body {
  font-family: 'Arial', sans-serif; 
  margin: 0;
  padding: 0;
}


.filter-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f217;
  width: 350px;
  font-weight: bolder;
  height: 40px;
}

.filter {
  width: 150px;
}

.butom-day {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #000000;
  border-color: white;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
}
.reservation-cell.training-type-tren-superior {
  background-color: #001f3f; 
  color: #ffffff; 
}

.reservation-cell.training-type-jalon {
  background-color: #add8e6; 
  color: #000000;
}

.reservation-cell.training-type-empuje {
  background-color: #87CEEB; 
  color: #000000; 
}

.reservation-cell.training-type-brazo {
  background-color: #008000; 
  color: #ffffff; 
}

.reservation-cell.training-type-pierna {
  background-color: #ffff00;
  color: #000000; 
}

.reservation-cell.training-type-gluteo {
  background-color: #ffc0cb; 
  color: #000000;
}

.reservation-cell.training-type-cardio {
  background-color: #00ff00;
  color: #000000; 
}

.reservation-cell.training-type-primer-dia {
  background-color: #d8bfd8; 
  color: #000000; 
}


.reservation-cell.cancelled {
  background-color: #ff0000; 
  color: #ffffff; 
}


.trash-icon {
  cursor: pointer;
  color: #ff0000; 
}


.filter-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.butom-day {
  background-color: #d8bfd8; 
  color: #000000; 
}


/* .button-l {
  width: 25px;
  height: 25px;
}

.button-li {
  width: 25px;
  height: 25px;
}  */



.button-l {
  width: 41px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.button-l:hover {
  background-color: #33333342;
}

.button-li {
  width: 52px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.button-li:hover {
  background-color: #33333342;
}

.button-trash {
  width: 23px;
  margin-right: 10px;
  cursor: pointer;
}

.button-trash:hover {
  background: #f7f7f740;
}

.table-diary table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  font-weight: bolder;
}

h2 {
  text-align: center;
}

.table-diary th {
  background-color: #0c0c0c;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.table-diary td {
  text-align: left;
  border-bottom: 1px solid #dddddd97;
  background-color: rgba(255, 255, 255, 0.331);
  font-weight: bolder;
  font-size: 10px;
  text-align: center;
}
.table-diary th {
  background-color: #0c0c0c;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}
.table-diary .first-column {
  font-size: 16px; 
}
.header-cell {
  text-align: center; 
}

.current-day {
  background-color: blue;
  color: black; 
}

.reservation-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.user-name .trash-icon {
  margin-right: 5px; 
}

.reservation-cell .user-name {
  margin-right: 2px;
}

.reservation-cell .trainingType {
  display: flex;
  align-items: center;
  background-color: yellow;
  color: black;
  font-weight: 700;
  width: 65px;
}
.reservation-cell .Attendance {
  display: flex;
  align-items: center;
  background-color: rgb(158 181 208);
  color: black;
  font-weight: 700;
  width: 35px;
}

.reservation-cell .react-dropdown-select {
  width: auto;
  
}
.reservation-cell  .react-dropdown-select-dropdown {
  top: 50% !important; 
}
.reservation-cell .trainingType .react-dropdown-select-item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.reservation-cell .Attendance .react-dropdown-select:focus {
  border-color: #a2a9aeaf;
  outline: none;
}
.reservation-cell .trainingType .react-dropdown-select:focus {
  border-color: #3498dbaf;
  outline: none;
}
.table-diary table th, table td {
  border: 1px solid #fff;
}
.table-diary td:not(:last-child) {
  margin-right: 2px;
}

.table-diary tr:nth-child(odd) {
  background-color: #f2f2f250;
}

.table-diary tr:nth-child(even) {
  background-color: #e6e6e676;
}

.profile-buttons {
  text-align: center;
  margin-top: 20px;
}

.profile-button-image {
  width: 48px;
  height: 29px;
}

.button-link {
  text-decoration: none;
  color: #333;
}
.line-separator {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}

.reservation-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 78%);   
  z-index: 900;
  display: flex;
  align-items: left;
  justify-content: center;
}

.reservation-form input,
.reservation-form select,
.reservation-form buttom-modal {
  margin-bottom: 15px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.reservation-form buttom-modal {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.reservation-form buttom-modal:hover {
  background-color: #7d2626;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #88888800;
  border: none;
  background: none;
}

.close-button:hover {
  color: #555;
}
.DatePicker{
  padding: none;
}
.DatePicker button{
  background-color: none;
}

.cancelled {
  color: #ac1414f7;
  font-weight: bolder;
}


