.current-week{
  color: rgb(0, 0, 0);
  font-weight: bold
}
.date-navigation{
  background-color: #ffffff66;
  width: 750px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:white
}


body {
  font-family: 'Arial', sans-serif; 
  margin: 0;
  padding: 0;
}

.filter-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f217;
  width: 350px;
  font-weight: bolder;
  height: 40px;
}

.filter {
  width: 150px;
}

.butom-day {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #000000;
  border-color: white;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
}

.button-l {
  width: 41px;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.button-l:hover {
  background-color: #33333342;
}

.button-lis {
  width: 52px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.button-lis:hover {
  background-color: #33333342;
}

.button-trash {
  width: 23px;
  margin-right: 10px;
  cursor: pointer;
}

.button-trash:hover {
  background: #f7f7f740;
}

.edit-table table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  text-align: center;
}

.edit-table th {
  background-color: #0c0c0c;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #000000;
}

.edit-table td {
  text-align: left;
  border-bottom: 1px solid #000000;
  background-color: rgba(255, 255, 255, 0.331);
  font-weight: bolder;
  font-size: 15px;
  text-align: center;

}
.edit-table th {
  border-bottom: 1px solid #000000;
  background-color: #0c0c0c;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.edit-table table th, table td {
  border: 3px solid #360e0e;

}
.edit-table .first-column {
  font-size: 16px; 
}
.header-cell {
  text-align: center; 
}

.current-day {
  background-color: blue;
  color: black; 
}

.reservation-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.user-name .trash-icon {
  margin-right: 5px; 
}

.reservation-cell .user-name {

}

.reservation-cell .trainingType {
  display: flex;
  align-items: center;
  background-color: rgb(249, 249, 249);
  color: black;
  font-weight: 700;
  width: 74px;
}
.reservation-cell .Attendance {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-weight: 700;
  width: 35px;
}

.reservation-cell .react-dropdown-select {
  width: auto;
  
}
.reservation-cell  .react-dropdown-select-dropdown {
  top: 50% !important; 
}
.reservation-cell .trainingType .react-dropdown-select-item {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.reservation-cell .Attendance .react-dropdown-select:focus {
  border-color: #a2a9aeaf;
  outline: none;
}
.reservation-cell .trainingType .react-dropdown-select:focus {
  border-color: #3498dbaf;
  outline: none;
}

.edit-table td:not(:last-child) {
  margin-right: 2px;
}

.edit-table tr:nth-child(odd) {
  background-color: #f2f2f250;
}

.edit-table tr:nth-child(even) {
  background-color: #e6e6e676;
}

.profile-buttons {
  text-align: center;
  margin-top: 20px;
}

.profile-button-image {
  width: 48px;
  height: 29px;
}

.button-link {
  text-decoration: none;
  color: #333;
}
.line-separator {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}

.reservation-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 78%);   
  z-index: 900;
  display: flex;
  align-items: left;
  justify-content: center;
}

.reservation-form input,
.reservation-form select,
.reservation-form buttom-modal {
  margin-bottom: 2px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.reservation-form buttom-modal {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.reservation-form buttom-modal:hover {
  background-color: #7d2626;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #88888800;
  border: none;
  background: none;
}

.close-button:hover {
  color: #555;
}
.DatePicker{
  padding: none;
}
.DatePicker button{
  background-color: none;
}

.cancelled {
  color: #ac1414f7;
  font-weight: bolder;
}

th.red {
  background-color: red;
}

th.black {
  background-color: black;
  color: white; 
}

th.grey {
  background-color: grey;
}

th.blue {
  background-color: rgb(47, 85, 201); ;
  color: #fff; 
  text-align: center;
}

td.first-column{
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  text-align: center; 
  font-weight: bolder;
}

