input.slotNum{
  border-radius: 5px;
  height: 2px;
  width: 22px;
  background-color: rgb(255 253 253);
  font-size: 19px;
  font-weight: bolder;
  text-align: center;
}


body {
  background-color: white;
}

h2{
color: rgb(255, 255, 255);
font-weight: bolder;
font-size: 35px;
}
.morning-end-row-reservation{
  border-bottom: 12px solid #4a0808; 
}
.date-navigation-reservation{
  background-color: #ffffff66;
  width: auto;
}
.reservations-container {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto;
  background-color: #ffffff00;
}
.save button{
  border: white;
  font-size: larger;
  background-color: black;
  border-radius: 8px;
  cursor: pointer;
}

.save button:hover{
  background-color: #414f77;
}
table th {
  background-color: #141313;
  color: white;

}
table td {
  background-color: #d5d5d5c1;
  color: rgb(18, 17, 17);

}

table th,
table td {
  border: 2px solid #000000;
  text-align: center;
}



th.hour-column {
  background-color: rgb(47, 85, 201); 
  color: #fff; 
  text-align: center;
}

td.hour-cell {
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  text-align: center; 
  font-weight: bolder;
}

.hour-header {
  background-color: blue;
}

.lunes-header, .jueves-header {
  background-color: red;
  color: black;
}

.martes-header, .viernes-header {
  background-color: black;
}

.miércoles-header, .sabado-header {
  background-color: grey;
  color: black;
}

.separation-row {
  height: 20px;
  background-color: #727273b3;
  text-align: center;
  color: black;
  font-size: medium;
  font-weight: bolder;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #000000;
  border-color: white;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #414f77;
}
