
.RegisterUsers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.form-group {
  flex: 1;
  margin-right: 10px;
}


.form-group select {
  width: 100%;
}


.RegisterUsers-form button {
  width: 93%;
  background: #000000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 30px;
}


.RegisterUsers-form button:hover {
  background: #0056b3;
}



.RegisterUsers-form {
  width: 90%; 
  max-width: 400px; 
  background: #ffffff69;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(224, 2, 2, 0.53);
}

.RegisterUsers-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  text-align: center; 
}

.RegisterUsers-form label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  text-align: left; 
}

.RegisterUsers-form input[type="text"],
.RegisterUsers-form input[type="email"],

.RegisterUsers-form select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #0b0b0b;
  border-radius: 7px;
  width: 80%;
}

.RegisterUsers-form button {
  width: 100%;
  background: #000000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.RegisterUsers-form button:hover {
  background: #0056b3;
}


.swal2-popup {
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.swal2-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.swal2-content {
  font-size: 1.1em;
  color: #333;
}

.swal2-confirm {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.swal2-confirm:hover {
  background-color: #0056b3;
}
