body {
  background-color: white;
}

h2{
color: rgb(255, 255, 255);
font-weight: bolder;
font-size: 35px;
}
.reservations-container {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  background-color: #f5f5f5aa;
}

table th {
  background-color: #333;
  color: white;
  padding: 8px;
  text-align: center;
}

table th,
table td {
  border: 1px solid #ccc;
}

.available-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

.available-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.available-button.reserved {
  background-color: #827e7e;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #3f3f3f;
  border-color: white;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #414f77;
}
