.button-re button {
  width: 100px;
  height: 30px;
  box-shadow: 5px 3px 3px 0px rgb(255 255 255 / 79%);
  margin-left: 0px;
  border-color: white;
  border-width: 10px;
}

.user-table td {
  text-align: left;
  border-bottom: 1px solid #dddddd97;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
}
.user-table th {
  background-color: #0c0c0c;
  color: white;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}
.user-table .first-column {
  font-size: 16px; 
}
.header-cell {
  text-align: center; 
}


.user-table td:not(:last-child) {
  margin-right: 2px;
}

.user-table tr:nth-child(odd) {
  background-color: #f2f2f250;
}

.user-table tr:nth-child(even) {
  background-color: #e6e6e676;
}